<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <meta charset="UTF-8">
    <title>IR</title>
</head>
<body class="container">

<header>
  <%- include('./includes/header'); %>
</header>

<main class="content">
  <div>
    <h1>Select your favorite team</h1>
  </div>
</main>

<footer>
  <%- include('./includes/footer'); %>
</footer>

</body>
</html>