<% 
let results='' ;


%>

  <head>
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta charset="UTF-8">
    <title>IR</title>
  </head>

  <body class="container">

    <!-- <header>
      <%- include('./includes/header'); %>
    </header> -->

    <main class="content">
      <div>
        <h1>DO THE THING</h1>
      </div>
      <div>
        <form action="/get" method="GET">
          <div>
            <input class="butto" id="example" type="value" name="value" />
            <input class='butto' type="submit" value="Submit">
          </div>
        </form>
      </div>
      <div>
        result
        <%- results %>
          result
      </div>
    </main>

    <footer>
      <%- include('./includes/footer'); %>
    </footer>

  </body>