<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta charset="UTF-8">
    <title>IR</title>
</head>
<body class="container">

<header>
  <%- include('./includes/header'); %>
</header>

<main class="content">
  <div>
    <h1>Select whatever you want</h1>
  </div>
  <div>
    <form action="">
      <select name="asd" id="asd">
        <option value="name">Name</option>
        <option value="country">Country</option>
      </select>
      <input id="example" type="text" name="text" />
      <input type="submit" value="Submit">
    </form>
  </div>
</main>

<footer>
  <%- include('./includes/footer'); %>
</footer>

</body>
</html>