<% 
let results='' ;
a = toRender.docs;
results += `
    <table>
    <tr>
      <th onclick="sortTable(0)">Rank</th>
      <th onclick="sortTable(1)">Name</th>
      <th onclick="sortTable(2)">Points</th>
      <th onclick="sortTable(3)">Country</th>
    </tr>
  `;

  a.forEach((item) => {
    results += `
      <tr>
        <td>${item.rank}</td>
        <td>${item.name}</td>
        <td>${item.points}</td>
        <td>${item.country}</td>
      </tr>
    `;

  });

  

%>

  <head>
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta charset="UTF-8">
    <title>IR</title>
  </head>

  <body class="container">

    <!-- <header>
      <%- include('./includes/header'); %>
    </header> -->

    <main class="content">
      <div>
        <h1>DO THE THING</h1>
      </div>
      <div>
        <form action="/get" method="GET">
          <div>
            <input class="butto" id="example" type="value" name="value" />
            <input class='butto' type="submit" value="Submit">
          </div>
        </form>
      </div>
      <div>
        <%- results %>
        </div>
    </main>

    <footer>
      <%- include('./includes/footer'); %>
    </footer>

  </body>