* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #ddd
}

body table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;

}

table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Style the top navigation bar */
nav {
    position: fixed;
    left: 0; 
    top: 10px;;
    width: 100%;
    text-align: center;
}

/* Style the topnav links */
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    align-self: center;
    text-align: center;
}

/* Change color on hover */
nav a:hover {
    color: #f2f2f2;
}

nav a:visited {
    color: #f2f2f2;
}

.butto{
    background-color: #121212;
    color: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Style the content */
.content {
    margin-top: 50px;
    height: 100%;
    padding: 10px;
    height: 200px;
    flex: 1 0 auto;
    padding: 20px;
    text-align: center;
    align-items: center;
}

/* Style the footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f2f2f2;
    text-align: center;
}